.toplayout {
	
  background-color: #061E3A;
color: #E5EEF5;

 overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left: 0;
    height: 10%;
    font-family: 'Montserrat';
font-size: 40px;
}


.logo {
width: 100%;
	text-align: center;
}

.full {
width: 100%;
	height: 80%;
	margin: 2%;

}

.item {
height: 100%;
	text-align: right;	
}

.temp {
height: 100%;
	text-align: center;
}
